.footer{
  margin-top: 20px;
  background-color: #282c34;
  color: hsl(0, 0%, 100%);
  list-style-type: none;
  text-decoration: none;
}
.footer ul {text-decoration: none;
  list-style-type: none;

}
.footer hr{
  background-color: white
}
.footer-content{
  padding-top: 25px;
}
footer img {
  justify-content: center;
}
.jumbo{
  background-image: url('../src/assets/jumbo.jpg');
  background-position:top;
  height: 400px;
  padding-top: 20px;
  margin:2rem;
  background-repeat: no-repeat;
  justify-content: flex-start;
}
.carousel-img{
  position: absolute;
  align-items: center;
}